<h1>Log in</h1>

<div class="ui form" id="login-form" method="POST">
    <%= form_for :session, url: login_path do |f| %>
  <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
  </div>
  <div class="field">
      <%= f.label :password%>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, class: "ui checkbox" %>
        <span>Remember me on this computer</span>
      <% end %>
  </div>
      <%= f.submit "Log in", class: "ui button" %>
    <% end %>
    <p>New user? <%= link_to "Register now!", signup_path %></p>
  </div>
