<% provide(:title, @user.name) %>
<div id="fav-quotes-buffer" class="row">
  <aside class="">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div>
      <% if @user.likes.any? %>
      <h3 id="favs-title">Favorite Quotes (<%= @user.likes.count %>)</h3>
        <div class="ui three stackable cards">
          <%= render @likes %>

      <%= will_paginate @likes %>
      </div>
    <% end %>
  </div>
</div>
