<div class="ui inverted stackable menu">
  <a class="item">
    <img src="">
  </a>
      <%= link_to "nSpired", '#', id: "logo" %>
          <a class="item"><%= link_to "About", root_url %></a>
          <a class="item"><%= link_to "Quote of the Day", 'qod' %></a>
          <% if logged_in? %>
            <a class="item"><%= link_to "Users", users_path %></a>
            <div class="ui simple dropdown item">
              Account
              <i class="dropdown icon"></i>
            </a>
            <div class="menu">
              <div><%= link_to "Edit", edit_user_path(current_user) %></div>
              <div><%= link_to "Profile", current_user %></div>
              <div>
              <%= link_to "Log out", logout_path, method: "delete" %>
              </div>
            </div>
          <% else %>
            <a class="item"><%= link_to "Log in", login_path %></a>
          <% end %>
      </div>
    </div>
