<!DOCTYPE html>
<html>
<head>
  <title>nSpiredOffTheMat</title>
  <script src="//use.edgefonts.net/almendra:n4,i4,n7;french-canon:n4,i4;lancelot.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
  <body>
    <div id="wrapper">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

  <%= yield %>


    </div>


  <div id="footer-control">
    <footer>
      <div id="footer-img-div">
        <a href="https://pixabay.com/"><img id="footer-api-ref" src="https://pixabay.com/static/img/public/medium_rectangle_a.png" alt="Pixabay"></a>
      </div>
        <div id="copyright">
          <p>&#169 2016 -- Katie Ude</p>
        </div>
     </footer>
   </div>
 </div>
</body>
</html>
